{% extends 'base.html.twig' %}

{% block title %}Acceso al Administrador{% endblock %}

{% block body %}
<div id="login_container"> 
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Administrador</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Ingresar
        </button>
        
        
    </form>
    <a href="/register">Registrarme</a>
</div>
{% endblock %}



{% block stylesheets %}

<style type="text/css">
    .btn-primary{
        margin: 10px 0 5px 0;
    }
    @media (min-width: 1281px) {
         #login_container{
            text-align: center;
            margin: auto;
            width: 25%;
            background-color:aliceblue;
            padding: 2vw;
        }
    }


    @media (min-width: 1025px) and (max-width: 1280px) {
        #login_container{
            text-align: center;
            margin: auto;
            width: 25%;
            background-color:
            aliceblue;
            padding: 1vw;
        }
    }
    @media only screen and (max-width: 600px) {

        #login_container{
            text-align: center;
            margin: auto;
            background-color:
            aliceblue;
            padding: 1vw;
        }
    }

</style>
{% endblock %}
