<!DOCTYPE html>
<html>
<head>
	<title>Turnos - Reseo de Contraseña</title>
</head>
<body>
	Usuario {{ email }}<br>
	Para resetear su contraseña haga click en el siguiente link<br>
	{{link_reseteo}}
</body>
</html>